<template>
  <div class='project-create'>
    <div class="container" style="width: 80%">
      <b-form @submit="onSubmit">
        <b-form-group
          id="input-group-title"
          label="Project title:"
          label-for="input-title"
        >
          <b-form-input
            id="input-title"
            v-model="form.title"
            required
            placeholder="Enter title"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-description"
          label="Description:"
          label-for="input-texarea"
        >
          <b-form-textarea
            id="input-textarea"
            v-model="form.description"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
            id="input-group-images"
            label="Images:"
            label-for="input-images"
          >
            <b-form-file
              id="input-images"
              multiple
              required
              accept="image/jpeg, image/png, image/gif"
              v-model="form.images"
              placeholder="Choose images or drop it here..."
              drop-placeholder="Drop file here..."
            ></b-form-file>
        </b-form-group>
        <b-form-group
          id="input-group-video"
          label="Video url:"
          label-for="input-video"
        >
          <b-form-input
            id="input-video"
            v-model="form.video"
            type='url'
            required
            placeholder="Enter video link"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="success">Update</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
  const axios = require('axios')
  export default {
    name: 'projects-create',
    props: {
      project: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        form: {
          title: '',
          description: '',
          images: null,
          video: ''
        },
      }
    },
    mounted() {
      this.form = this.project
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()

        const formData = this.buildFormData();
        const config = {
            headers: { 'content-type': 'multipart/form-data' }
        }

        axios.put('/projects/'+this.project._id, formData, config)
          .then((response) => {
              this.$noty.success("Project edited")
          })
          .catch((error) => {
              this.$noty.error(error.response.data)
          })

      },
      buildFormData() {
        var formData = new FormData();
        formData.append('title', this.form.title)
        formData.append('description', this.form.description)
        formData.append('video', this.form.video)

        for (var i = 0; i < this.form.images.length; i++) {
            let image = this.form.images[i];
            formData.append('images[' + i + ']', image);
        }

        return formData
      },
      reset() {
        this.form.title = ''
        this.form.description = ''
        this.form.images = null
        this.form.video = ''
      }
    }
  }
</script>
