<template>
  <div class='project-index'>
    <div class="container" style="width: 80%">
      <b-table hover
          :fields="fields"
          :items="projects"
          :per-page="0"
          :current-page="currentPage">
        <template v-slot:cell(actions)="project">
          <b-button variant="dark" :href="'/projects/'+project.item._id">View</b-button>
          <b-button variant="primary" :href="'/projects/'+project.item._id+'/edit'">Edit</b-button>
          <b-button variant='danger' @click="deleteProject(project.item)">Delete</b-button>
        </template>
      </b-table>
      <div class="row">
        <b-col sm="3" md="4" class="my-4">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
        <b-col class="my-4 col">
          <b-button variant="success" href="projects/create" class="float-right">Create</b-button>
        </b-col>
      </div>
    </div>
  </div>
</template>

<script>
  const axios = require('axios')
  export default {
    name: 'projects-index',
    data() {
      return {
        projects: null,
        currentPage: 0,
        totalRows: 0,
        perPage: 20,
        fields: [
          { key: 'title', label: 'Title'},
          { key: 'description', label: 'Description'},
          { key: 'video', label: 'Video'},
          { key: 'actions', label: 'Actions' }
        ]
      }
    },
    mounted() {
      this.load(1)
    },
    methods: {
      async load(page) {
        await axios.get('/projects?page='+page)
          .then((response) => {
              this.projects = response.data.data
              this.perPage = response.data.perPage
              this.totalRows = response.data.total
          })
      },
      deleteProject(project) {
        const url = 'projects/' + project._id
        axios.delete(url)
          .then((response) => {
              this.$noty.success("Project deleted")
          })
          .catch((error) => {
              console.log(error)
              this.$noty.error(error.response.data)
          });
        this.load(1)
      }
    },
    watch: {
      currentPage: {
        handler: function(value) {
          this.load(value)
        }
      }
    }
  }
</script>
