<template>
  <div class='project-show'>
    <div class="container" style="width: 80%">
      <div class=" shadow-lg p-3 mb-5 bg-white rounded">
        <p>
          <strong>Title</strong>
        </p>
        <p class="lead">
          {{ project.title }}
        </p>
        <p>
          <strong>Description</strong>
        </p>
        <p class="lead">
          {{ project.description }}
        </p>
        <p>
          <strong>Video</strong>
        </p>
        <p class="lead">
          {{ project.video }}
        </p>
        <p>
          <strong>Images</strong>
        </p>
        <b-row>
          <b-col v-for="image in project.images" v-bind:key="image">
            <b-img thumbnail fluid :src="'/uploads/'+ project._id + '/' + image" :alt="image"></b-img>
          </b-col>
        </b-row>
      </div>

      <b-button variant="primary" :href="'/projects/'+project._id+'/edit'">Edit</b-button>
      <b-button variant='danger' @click="deleteProject()">Delete</b-button>
    </div>
  </div>
</template>

<script>
  const axios = require('axios')
  export default {
    name: 'projects-show',
    props: {
      project: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        projects: null,
        currentPage: 0,
        totalRows: 0,
        perPage: 20,
        fields: [
          { key: 'title', label: 'Title'},
          { key: 'description', label: 'Description'},
          { key: 'video', label: 'Video'},
          { key: 'actions', label: 'Actions' }
        ]
      }
    },
    mounted() {
      this.load(1)
    },
    methods: {
      async load(page) {
        await axios.get('/projects?page='+page)
          .then((response) => {
              this.projects = response.data.data
              this.perPage = response.data.perPage
              this.totalRows = response.data.total
          })
      },
      editProject(project) {
        window.location.href = '/projects/' + project._id + '/edit'
      },
      deleteProject() {
        axios.delete('/projects/' + this.project._id)
          .then((response) => {
            this.$noty.success("Project deleted", {timeout: 2500}).on('afterClose', function() {
              window.location.href = '/projects'
            })
          })
          .catch((error) => {
            this.$noty.error(error.response.data)
          });
        this.load()
      }
    },
    watch: {
      currentPage: {
        handler: function(value) {
          this.load(value)
        }
      }
    }
  }
</script>
